@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');

$color1: #f75311;
$color2: #797979;
$color3: #374249;
$color4: #cfd1d3;
$color5: #f3f7f9;
$font: 'Roboto', sans-serif;